#header {
  background-color: #242424;
  color: #fff;
  padding-top: 40px;
}

#header .logo {
  margin-right: 20px;
}

#header .logo:hover,
#header .logo:focus {
  text-decoration: none;
}

#header .logo img {
  vertical-align: text-bottom;
}

#filters {
  display: inline-block;
  line-height: 1;
  margin-bottom: 0;
  margin-left: 0;
}

#filters a {
  color: #999;
  display: block;
  font-weight: bold;
}

#filters a:hover,
#filters a:focus {
  color: #fff;
  text-decoration: none;
}

#navbar {
  background-color: transparent;
  border: 0;
  padding-left: 0;
  padding-right: 0;
}

.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #999;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #242424;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #242424;
}

.region-navigation .block {
  margin-top: 20px;
}

.region-navigation .nav {
  width: 100%;
}

.region-navigation .nav > li {
  display: table-cell;
  text-align: center;
  width: 1%;
}

.region-navigation .nav > li > a {
  border: 2px solid #fff;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.region-navigation .nav > li > a:hover,
.region-navigation .nav > li > a:focus {
  background-color: transparent;
  color: #999;
}

.region-navigation .nav > li + li {
  padding-left: 20px;
}

.region-navigation .nav > li.active > a,
.region-navigation .nav > li.active > a:hover,
.region-navigation .nav > li.active > a:focus {
  color: #242424;
  background-color: #fff;
}

#footer {
  background-color: #242424;
  color: #fff;
  margin-top: 20px;
  padding-bottom: 40px;
  padding-top: 40px;
}

.region-footer-right .nav > li > a {
  color: #fff;
  padding: 2px 0;
}

.region-footer-right .nav > li > a:hover,
.region-footer-right .nav > li > a:focus {
  background-color: transparent;
  color: #999;
}

#mini-panel-financial_information_content {
    display: none;
}

iframe.map {
    border: 0;
}

.carousel-map .carousel-inner {
    width: 95%;
    margin:0 auto;
}

.carousel-map .carousel-control {
    background: none;
    width: auto;
    color: #ccc;
}